@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h3>Add a new stylist</h3>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add stylist" />
}

<button>
  @Html.ActionLink("Back to all stylists", "Index")
</button>