@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h3>Stylist details</h3>

<h5>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h5>

<button>
  @Html.ActionLink("Return to all stylists", "Index")
</button>